*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
#blue{
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: larger;
}
#blue:hover{
  opacity:0.4;
}
#yeallow{
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
 font-size: large;
}
#yellow:hover{
  opacity:0.2;
}
.btn.btn2{
  display: inline-block;
  color: white;
  background: crimson;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200;
}

form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solidcrimson;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
}
.btn:hover{
  background: crimson;
}
.contact-left{
  flex-basis: 23%;
}

/*---------------------------preloader--------------------*/
#preloader{
  background: #000000 url(c715b45e3083228673edc0765685c7a9.gif)no-repeat center center;
  background-size: 20%;
  animation-delay:0s;
  height: 100%;
  width:95%;
  position: fixed;
  z-index:100;
  padding-right: 40px;
}




/*-----------------------up button---------------------------------*/
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50px;
  font-size: 24px;
  padding: 10px 15px;
  background-color:crimson;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#backToTopBtn:hover {
  background-color: #0056b3;
}



/*-------------------------------home------------------------------------*/

body{
    margin: 0px 40px 0px 40px;
    
}
#home{
    background-color: rgb(139, 139, 139);
}
.header{
    position: fixed;
    width: 100%;
   
  }
  .left{
    font-size: 1.5rem;
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(14, 14, 82);
    color: white;
  }

  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 23px;
  }

  .firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .firstSection > div{
    width: 40%;
  }
  .leftSection{
    
    font-size: 3rem;
    width: 90%;
  }
  
  .rightSection img{
   
    margin: 2% 1% 0% 15%;
    
  }

  .text{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    display: inline-block;
    font-size: 23px;
  }

  #element2{
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
  }


  /*------------------------------------------About------------------------------------------*/
  ._about{
    background-color: rgb(217, 216, 233);
    padding-bottom: 4%;
  }
  .about-col-1 img{
   
    margin: 0px 110px 0px 80px;
    border-radius:  20% 20% 20% 20%;
    border-color: red;
    
  }
  #zup{
    color:rgb(45, 6, 163);
  font-size: 80px;
  }
 
#ha{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    
    top:750px;
    margin:0 0 0 57%;
}
#pa{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: rgb(255, 0, 0);
    
    top:780px;
    align-content: center;
    margin:0 0 0 55%;
}
#about{
    padding: 75px 0% 0% 0%;
    
  }
  .row{
    display: flex;
    justify-content: space-around;
  }
 

  .about-col-2{
    flex-basis: 30%;
    margin: 0px 0px 0px 40px;
  }
  .sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(255, 64, 0);
  }
  .tab-titles{
    display: flex;
    margin: 0px 0 40px;
  }
  .tab-links{
    margin-right: 100px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }
  .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(255, 0, 0);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
  }
  .tab-links.active-link::after{
    width: 50%;
  }
  .tab-contents ul li{
    list-style: none;
    margin: 10px 0;
  }
  .tab-contents ul li span{
    color:  rgb(111, 0, 255);
    font-size: 20px;
  }
  .tab-contents{
    display: none;
  }
  .tab-contents.active-tab{
    display: block;
  }
  /*-----------------------------services--------------------------------------------------*/
  .m1{
  
   margin-top: 0%;
  }
  
  .container{
    width: 1150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    
  }
  
  .container .card{
    position: relative;
  }
  
  .container .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
    
  }
  
  .container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
     
  }
  
  
  .container .card .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;
  
  }
  
  .container .card:hover .face.face1 .content{
    opacity: 1;
   
  }
  
  .container .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
     
  }
  
  .container .card .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
    
  
  }
  
  .container .card .face.face1 .content a{
     transition: .5s;
  }
  
  .container .card .face.face2{
     position: relative;
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
  }
  
  .container .card:hover .face.face2{
      transform: translateY(0);
  
  
  }
  
  .container .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
  }
  
  .container .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
  }
  
  .container .card .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }
  #hb{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
/*--------------------------------------contact--------------------------------------------*/

#red{
  color:red;
  font-size: 40px;
}

.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .info .head{
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
  color: #333;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
padding-top: 10px;
resize: none;
}
.contact .right form .button-area{
display: flex;
align-items: center;
}
.right form .button-area button{
color: #fff;
display: block;
width: 160px!important;
height: 45px;
outline: none;
font-size: 18px;
font-weight: 500;
border-radius: 6px;
cursor: pointer;
flex-wrap: nowrap;
background: crimson;
border: 2px solid crimson;
transition: all 0.3s ease;
}
.right form .button-area button:hover{
color: crimson;
background: none;
}

#con{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}


/*-----------------------------------------------copyright----------------------------------------------*/

.cop{
  float:left;
  width: 100%;
  background-color: black;
  color: #fff;
}

#white{
  color:rgb(255, 255, 255);
  font-size: 30px;
}

